{% extends "app/base.html" %}
{% load static %}
{% block title %}Change password done{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row justify-content-start">
        <div class="col-sm-2">
            <h3>Bienvenido {{ request.user.username|capfirst }}</h3>
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="#" class="btn btn-dark">Change Password Done</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Password Change Successfully!!!</h3>
            <iframe src="https://giphy.com/embed/tIeCLkB8geYtW" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock main-content %}