{% extends "app/base.html" %}
{% load static %}
{% block title %}Category{% endblock title %}

{% block main-content %}
    <div class="container my-5">
        <div class="row justify-content-between">
            <div class="img2 col-lg-5 mt-5">
                <img src="{{product.product_image.url}}" class="image img-fluid mt-3 text-sm-center w-100" alt="{{ product.title }}">
            </div>
            <div class="productdetail col-lg-5">
                <h1 style="font-family: Georgia; font-size: 50px;">{{product.title}}</h1>
                <h5>${{product.discounted_price}}/-Precio Ahora</h5>
                <small class="text-decoration-line-through text-muted fs-5">
                    <del>${{product.selling_price}} Precio Antes/-</del>
                </small>
                <br><br><h4>Características del producto</h4>
                <ul class="fs-5" style="font-family: Radjdhani;">
                    <li>Descripción: {{product.description}}</li>
                    <li>Tamaño de pantalla: {{product.composition}}</li>
                    <li>Modelo: {{product.prodapp}}</li>
                </ul>

                <form action="/add-to-cart" class="d-inline">
                    <input type="hidden" name="prod_id" value="{{product.id}}" />
                    <button type="submit" class="btn btn-dark shadow px-5 py-2">Add to Cart</button>
                </form>
                <a href="{% url "showcart" %}" class="btn btn-warning shadow px-5 py-2 ms-2">Buy Now</a>
                {% if wishlist %}
                    <a pid="{{product.id}}" class="minus-wishlist btn btn-danger shadow px-5 py-2 ms-2"><i class="fas fa-heart fa-lg"></i> Remove from Wishlist</a>
                {% else %}
                    <a pid="{{product.id}}" class="plus-wishlist btn btn-outline-secondary shadow px-5 py-2 ms-2 mt-3 text-center"><i class="fas fa-heart fa-lg"></i> Add to Wishlist</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock main-content %}
