{% extends "app/base.html" %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row justify-content-start">
  <div class="col-sm-8">
    <h2 class="mb-4">Celulares Favoritos</h2>
    {% if product %}
        <div class="row">
            {% for prod in product %}
                <div class="col-sm-5 text-center mb-4 hover-shadow">
                    <a href="{% url "product-detail" prod.product.id %}" class="btn">
                        <div>
                            <img src="{{prod.product.product_image.url}}" width="300px" height="200px" />
                            <div class="fw-bold">{{prod.product.title}}</div>
                            <div class="fw-bold text-danger">
                                $ {{prod.product.discounted_price}}/-
                                <small class="fw-light text-decoration-line-through">{{prod.product.selling_price}}</small>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            ¡Ups! Parece que aún no tienes ningún celular en tu lista de favoritos. ¡Explora nuestra tienda y agrega algunos celulares a tu lista de deseos!
        </div>
    {% endif %}
  </div>
 </div>
</div> 
{% endblock main-content %}
